@import "mixins.less";
@import "variables.less";
#page-desktop {
  background-color: #625C5A !important;
}
.grid-static-col.bold {
        background-color: transparent !important;
}
.help-box {
        font-size: 11px;
        text-align: right;
}
textarea.form-control {
  border-left: 1px solid @color0;
  border-right: 1px solid @color0;
  border-top: 1px solid @color0;
}
/*Deshabilitamos los mensajes de ayuda*/
.help-message-wrapper {
	display: none;
}
/*Altura de las columnas en las listas*/ 
.list-item {
	height: auto;
	min-height: 40px;
}
.ellipsis-mul-lines {
  	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.list-item__content {
    padding-bottom: 3px;
    padding-top: 3px;
}
.page-title {
  .title-text {
    color: @color1;
  }
}
h6.uppercase {
  color: @color1;
  font-size: 17px;
}
.h6.uppercase {
  color: @color1;
  font-size: 17px;
}
.app-icon {
  border-radius: 45px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  &:hover {
    -o-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease 0s;
  }
}
div[data-link*="modules/"] {
  .app-icon {
    border-radius: 0;
  }
}
.list-link {
  a[disabled="disabled"] {
    color: #7574ff;
  }
}
.case-wrapper[data-name="Explore"] {
	display: none !important;
}

.btn-new[data-doctype="Quotation"], .btn-new[data-doctype="Sales Order"] {
	display: none;
}

.btn-default {
	.box-shadow(0px, 1px, 2px, rgba(0, 0, 0, 0.4));
}

/*BUG desplegable de búsqueda en filtros*/
.filter-header .dropdown-menu {
	overflow: visible;
	margin-top: -20px;
	ul {
		max-height: 150px;
	}
}

.form-layout {
  padding-bottom: 200px;
}
.grid-row-open {
  .form-in-grid {
    height: 90%;
    left: 5%;
    overflow-y: scroll;
    position: fixed;
    top: 5%;
    width: 90%;
  }
}
.navbar-brand {
	height: inherit;
}

.li50 {
	-webkit-column-count: 2; 
	-moz-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 40px; 
	-moz-column-gap: 40px; 
	column-gap: 40px;
}

.grid-row .octicon {
	color: #8D99A6;
}
.grid-row .btn-danger .octicon {
	color: #ffffff;
}
.grid-heading-row .open {
	display: none;
}
.grid-row > .row .col:last-child {
	border-right-width: 0px;
}
.fc-day-grid-event .fc-content {
    white-space: inherit !important;
    overflow: inherit !important;
}

#page-stock-balance-1 .dashboard-list-item {
    padding: 5px 15px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffa00a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#navbar-breadcrumbs {
  > li {
    &:last-child {
      a {
        max-width: 350px;
        font-size: 29px;
        font-weight: normal;
        color: @color1;
        &:before {
          font-size: 40px;
          font-weight: normal;
          color: @color1;
        }
      }
    }
  }
}

.form-dashboard-section {
  h6 {
    font-weight: bold;
  }
}

.like-disabled-input.for-description {
  font-size: inherit;
}

@media (min-width: 768px) {
	.modal-dialog {
    	width: 750px;
    	margin: 30px auto;
	}
}


.awesomplete > ul > li[aria-selected="true"], .awesomplete > ul > li:hover[aria-selected="true"] {
	background-color: #5e64ff;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
		.text-primary {
			color: #FFFFFF;
		}
	}
}

.case-label {
	text-shadow: none;
}
