.grid-static-col.bold {
  background-color: transparent;
}
.help-box {
  font-size: 11px;
  text-align: right;
}
textarea.form-control {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
/*Deshabilitamos los mensajes de ayuda*/
.help-message-wrapper {
  display: none;
}
/*Altura de las columnas en las listas*/
.list-item {
  height: auto;
  min-height: 40px;
}
